{% extends 'base.html' %} 

{% block title %}{{ current_user.username }}{% endblock %}

{% block header %}
    <h1>{{ current_user.username }}'s Profile</h1>
{% endblock %}


{% block content %}
    {% if current_user.is_authenticated %}
        {% for a in addresses %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Entry # {{ a.id }}</h5>
                            <p class="card-text"> Name: {{ a.first_name }} {{ a.last_name }}</p>
                            <p class="card-text"> Phone Number: {{ a.phone_number }}</p>
                            <p class="card-text"> Address: {{ a.address }}</p>
                            <p class="card-text"><small class="text-body-secondary">By {{ a.author.username }}</small></p>
                            <p class="card-text">{{ a.date_created.strftime('%A %B %d, %Y at %I:%M%p') }}</p>
                            <a href="{{ url_for('edit_address', address_id=a.id) }}" class="btn btn-success w-25">Edit</a>
                            <a href="" class="btn btn-danger w-25 ms-5">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-12 text-center py-5">
            <h2>Click the button below to add to the phonebook</h2>
        </div>
        <div class="col-12 text-center py-5">
            <a class="btn btn-primary w-50 mt-5" href="{{ url_for('phonebook') }}">Phonebook</a>
        </div>
    {% else %}
    <div class="col-12 text-center py-5">
        <a class="btn btn-primary w-50 mt-5" href="{{ url_for('signup') }}">Sign Up</a>
    </div>
    <div class="col-12 text-center py-5">
        <a class="btn btn-primary w-50 mt-5" href="{{ url_for('login') }}">Log In</a>
    </div>
    {% endif %}
{% endblock %}